.flag
  margin 1rem 0
  .title
    font-weight bold
    padding .1rem 0rem
  p
    margin-block-start: 0em;
    padding .5rem 1rem

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right